* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none ;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;
    font-size: 14px;
}

body main{
    margin: auto;
    padding: 0;
    display: flex;
    background-color: #fafafa;
    max-width: 66.785rem;
    justify-content: center;

}